body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px;
    line-height: 2em;
    color: #333;
    font-weight: 400;
    background-color: #a8d490!important;
}
.columns-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.left-col-block {
    width: 50%;
    text-align: center;
    overflow: hidden;
    position: fixed;
    left:0;
}
.right-col-block {
    width: 50%;
    position: absolute;
    right: 0;
}
.header {
    padding: 0;
    margin: 0;
    height: 100vh;
    vertical-align: middle;
    position: relative;
}
.header .profile-image {
    position: absolute;
    left:0;
    top:0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url();
    background-size: cover;
    background-position: top center;
}
.header .content {
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    width: 100%;
    margin: 0 auto;
    padding: 10%
}
.header .content h1 {
    font-size: 36px;
    color: rgb(16,20,38);
    line-height: 1;
    margin: 0;
}
.header .content p {
    font-size: 20px;
    color: rgb(16,20,38);
}
.header .content .social-icon {
    margin: 0 ;
    padding: 0 ;
    display: block ;
}

 .header .content .social-icon li a {
    display: block;
    font-size: 15px;
    color: #fff;
    height: 35px;
    width: 35px;
    line-height: 32px;
    text-align: center;
    border-radius: 100%;
    border: 2px solid #555;
}
.header .content .social-icon li a:hover {
    border-color: #fff;
}
.section .h2{
    background-color: yel;
}

